{% extends "base.html" %}

{% block title %}Dublin University Internet Society{% endblock %}

{% block extra_headers %}

<script type='text/javascript'>
	
	$(document).ready(function(){
					$.get('/news/1', function(data){
							$('#news').html(data);							
					});




	});

</script>

{% endblock %}

{% block brand %} Netsoc {% endblock %}

{% block topnav %} 
<li class='active'><a href='#'>Home</a></li>
<li><a href='about/'>About Us</a></li>
<li><a href='services/'>Services</a></li>
<li><a href='https://mediawiki.netsoc.tcd.ie/'>Wiki</a></li>
<li><a href='https://boards.netsoc.tcd.ie/'>Boards</a></li>
<li><a href='https://lists.netsoc.tcd.ie/'>Mailing Lists</a></li>
{% endblock %}

{% block content %}
<div id='news'>

</div>
{% endblock %}


